

<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h1>Type List</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 m-3">
    <table class="table table-striped">
      <thead>
      <tr><th>id</th><th>name</th><th>actions</th></tr>
      </thead>
      <tbody>
      <tr *ngFor="let type of types">
        <td> {{type.id}}</td>
        <td> {{type.name}}</td>
        <td>
          <button routerLink="/type/edit/{{ type.id }}" class="btn btn-primary mr-3" style="margin-left: 20px;"> Edit</button>
          <button class="btn btn-danger" (click)="delete(type)"> Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12 m-3">
    <button class="btn btn-sm btn-primary float-right" routerLink="/type/add">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
