.remaining-space{
  flex: 1 1 auto;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
mat-grid-tile {
  background: lightblue;
}

mat-sidenav{
  background: coral;
}

nav mat-nav-list a.active{
  background: darkred;
  color: aqua;
}
