<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-toolbar color="warn">
            <span>JPEG menu</span>
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>clear</mat-icon>
            </button>
            <span class="remaining-space"></span>
        </mat-toolbar>
        <nav>
            <mat-nav-list>
                <a routerLink="/product" routerLinkActive="active" mat-list-item (click)="sidenav.close()"><mat-icon> sentiment_satisfied_alt </mat-icon> Les produits du JPEG</a>
                <a routerLink="/menu" routerLinkActive="active" mat-list-item (click)="sidenav.close()"><mat-icon>print</mat-icon> Les menus du JPEG</a>
                <a routerLink="/pop" routerLinkActive="active" mat-list-item (click)="sidenav.close()"><mat-icon>pregnant_woman</mat-icon> Les pops du JPEG</a>

            </mat-nav-list>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="warn">
            <span><button mat-button (click)="sidenav.toggle()"><mat-icon>view_headline</mat-icon></button><span>JPEG button</span></span>
            <span class="remaining-space"></span>
            <span>JPEG à droite</span>
        </mat-toolbar>
        <div class="container-fluid" style="background: slategray;">
            <router-outlet></router-outlet>

        </div>


    </mat-sidenav-content>
</mat-sidenav-container>
