<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-toolbar color="warn">
            <span>JPEG menu</span>
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>clear</mat-icon>
            </button>
            <span class="remaining-space"></span>

        </mat-toolbar>
        <nav>
            <mat-nav-list>
                <a routerLink="/product" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
                    <mat-icon> sentiment_satisfied_alt</mat-icon>
                    Les produits du JPEG</a>
                <a routerLink="/menu" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
                    <mat-icon>print</mat-icon>
                    Les menus du JPEG</a>
                <a routerLink="/pop" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
                    <mat-icon>pregnant_woman</mat-icon>
                    Les pops du JPEG</a>
                <span *ngIf="isConnected()">
                    <a routerLink="/profile" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
                    <mat-icon>hdr_on</mat-icon>
                        Votre JProfile</a>
                </span>

            </mat-nav-list>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="warn">
            <span><button mat-button (click)="sidenav.toggle()"><mat-icon>view_headline</mat-icon></button><span>JPEG button</span></span>
            <span class="remaining-space"></span>
            <span *ngIf="!isConnected()">
            <span>JPEG à droite</span>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon class="material-icons-outlined">account_box</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/login" routerLinkActive="active">
                    <span>JPEG caché</span>
                </button>
            </mat-menu>
            </span>
            <span *ngIf="isConnected()">
            <button mat-button (click)="logout()"> {{user?.username}}
                    <mat-icon class="material-icons-outlined" >account_box</mat-icon>
            </button>
            </span>
        </mat-toolbar>
        <div class="container-fluid" style="background: #67905e;">
            <router-outlet></router-outlet>

        </div>


    </mat-sidenav-content>
</mat-sidenav-container>
