<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-toolbar color="warn">
            <span>JPEG menu</span>
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>clear</mat-icon>
            </button>
            <span class="remaining-space"></span>
        </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="warn">
            <span><button mat-button (click)="sidenav.toggle()"><mat-icon>view_headline</mat-icon></button><span>JPEG button</span></span>
            <span class="remaining-space"></span>
            <span>JPEG à droite</span>
        </mat-toolbar>
        <div class="container-fluid" style="background: olive; witdh: 100vw; height: 50px"></div>



    </mat-sidenav-content>
</mat-sidenav-container>
