<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" style="height: calc(100vh - 64px);">
        <mat-card class="col-4">
            <mat-card-title class="text-center"> Jog Edition </mat-card-title>
            <mat-card-content>
                <form class="form-content" [formGroup]="typeForm">
                    <mat-form-field>
                        <input matInput placeholder="Votre type" formControlName="name" autocomplete="off" required/>
                    </mat-form-field>
                    <button class="mt-3" mat-flat-button color="warn" [disabled]="typeForm.invalid"
                            (click)="saveType()">JPEG</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
